header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: calc(100% - 100px);
    padding: 50px;
    color: $white;
    @extend %container;
    nav{
        display: flex;
        align-items: center;
        gap: 59px;
        ul{
            display: flex;
            align-items: center;
            gap: 59px;
            list-style-type: none;
        }
        a{
            @include font(16px,400);
            color: $white;
            margin-bottom: 3px;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                border-bottom: 2px solid $main;
                height: 2px;
                bottom: -4px;
                left: 25%;
                width: 50%;
                opacity: 0;
                transition: 0.4s;                
            }
            &:hover{
                &::before{
                    opacity: 100;
                }
            }
        }
    }
    .btn{
        &:hover{
            background-color: $main;
            color: $white;
        }
    }
}