@media screen and (max-width: 450px) {
    body{
        overflow-x: hidden;
    }
    .wrapper{
        width: 96vw;
        padding: 0 2vw;
    }
    h1{
        @include font(18px, 700);
    }
    header nav, .slider{
        display: none;
    }
    header .burger-menu{
        display: flex;
    }
}